<div class='mt-4 border p-4 bg-ligth bg-grey rounded'>
	<h1 class='display-4'>Notes App and Mongodb</h1>
	<p class='lead'>Dynamic website developed with Node Js and Express</p>
	<hr class='my-4' />
	<p>Notes application made as a backend practice project by Santino Bartolucci.</p>
	<a href='https://github.com/SantinoBartolucci' class='btn btn-primary rounded' target='_blank'><i class='fab fa-github'></i> My Github</a>
</div>