<div class='mt-4 border p-4 bg-ligth bg-grey rounded'>
	<h1 class='display-4'>Notes App and Mongodb</h1>
	<p class='lead'>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
	<hr class='my-4' />
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, mollitia magnam. Dicta magnam dolorum nobis ab perferendis optio quis, provident nemo quos quod. Architecto
		nisi quis officia cupiditate rem quae.</p>
	<a href='https://github.com/RyZeXPlays' class='btn btn-primary rounded' target='_blank'><i class='fab fa-github'></i> My Github</a>
</div>