body {
	background: #8e9eab; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-grey {
	background-color: #f8f9fa;
}

.logo {
	width: 30%;
}

.container {
	min-height: 600px;
}

footer {
	margin-top: 20px;
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 100px;
	background: #111;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer .contenedor {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

footer .contenedor .sec {
	margin-right: 30px;
}

footer .contenedor .sec.aboutus {
	width: 40%;
}

footer .contenedor h2 {
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 15px;
}

footer .contenedor h2:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
	background: #f00;
}

footer p {
	color: #999;
}

.sci {
	margin-top: 20px;
	display: flex;
}

.sci li {
	list-style: none;
}

.sci li a {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 4px;
}

.sci li a:hover {
	background: #f00;
}

.sci li a .fab {
	color: #fff;
	font-size: 20px;
}

.quicklinks {
	position: relative;
	width: 25%;
}

.quicklinks ul li {
	list-style: none;
}

.quicklinks ul li a {
	color: #999;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
}

.quicklinks ul li a:hover {
	color: #fff;
}

.contact {
	width: calc(35% - 60px);
	margin-right: 0px !important;
}

.contact .info {
	position: relative;
}

.contact .info li {
	display: flex;
	margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
}

.contact .info span {
	color: #999;
}

.contact .info a {
	color: #999;
	text-decoration: none;
}

.contact .info a:hover {
	color: #fff;
}

@media (max-width: 991px) {
	footer {
		padding: 40px;
	}
	footer .contenedor {
		flex-direction: column;
	}
	footer .contenedor .sec {
		margin-right: 0;
		margin-bottom: 40px;
	}
	footer .contenedor .sec.aboutus,
	.quicklinks,
	.contact {
		width: 100%;
	}
}
