<div class='row mt-4'>
	<div class='col-md-4 mx-auto'>
		<div class='card text-center'>
			<div class='card-header'>
				<h3>Account Login</h3>
			</div>
			<img src='/img/etiquetas.png' alt='Tags' class='rounded-circle mx-auto d-block m-4 logo' />
			<div class='card-body'>
				<form action='/users/login' method='POST'>
					<div class='form-group'>
						<input type='email' class='form-control' name='email' placeholder='Email' autofocus />
					</div>
					<div class='form-group mt-3'>
						<input type='password' class='form-control' name='password' placeholder='Password' />
					</div>
					<div class='form-group mt-3'>
						<button type='submit' class='btn btn-primary w-100'>Log In</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>